# Notebook para obtener estadísticas de LIGA MX
By Omar Mora

## Importar paquetes a utilizar

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Obtener de datos

In [105]:
link = 'https://mexico.as.com/resultados/futbol/mexico_apertura/2020/ranking/jugadores/goles/'
data = pd.read_html(link)
df = data[0]

## Limpiar Datos

In [107]:
#Cambiar nombre de columna de Ranking
df.rename(columns={'Pos.':'Ranking'}, inplace=True)

#Llenar posiciones que tienen NA
df.Ranking.fillna(method='ffill', inplace=True)

#Remover posicion de columna Jugador
df['Jugador'] = df.Jugador.map(lambda x: x.rsplit(' ', 1)[0])

#Remover "Goles" del primer ligar
df['Total'] = df['Total'].str.replace('Goles', '')

#Formatos a INT
df['Ranking'] = df.Ranking.astype('int64')
df['Total'] = df.Total.astype('int64')

In [110]:
df.head()

   Ranking                Jugador     Equipo  Total
0        1                Gignac      Tigres      7
1        2         Alexis Canelo      Toluca      5
2        2  Juan Ignacio Dinenno       Pumas      5
3        2    Jonathan Rodríguez   Cruz Azul      5
4        3       Santiago Ormeño      Puebla      4